@media screen and (max-width: 515px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {
    main > h1 {
        font-size: 2em;
    }

    main > p {
        font-size: 1.5em;
    }

    .butoes > button {
        width: 60px;
        font-size: .8em;
    }
}